version: '3.0'

services:
  backend:
    build: ./src
    command: granian --interface asgi --reload --workers 2 --host 0.0.0.0 --port 8000 app.main:app

    volumes:
      - ./src/:/usr/src/app/
    env_file:
      - .env
    ports:
      - 8080:8000
  db:
    image: postgres:13.10
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER}"]
      interval: 20s
      timeout: 40s
      retries: 5

volumes:
  postgres_data:
