version: '2.0'

services:
  backend:
    build: ./src
    command: granian --interface asgi --reload --workers 2 --host 0.0.0.0 --port 8000 main:app
    volumes:
      - ./src/:/usr/src/app/
    env_file:
      - .env
    ports:
      - 8080:8000
  db:
    image: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env

volumes:
  postgres_data:
